/* ==========================================================================
    Style Button
========================================================================== */
$preset-purple-color: #ad8bbf;
$preset-crimson-color: #e86211;
$preset-gray-color: #909090;
.btn, button, .button, input[type="submit"] {
    line-height: 1;
    display: inline-block;
    outline: medium none;
    text-decoration: none;
    color: #333;
    @include transition(all .4s ease);
    font-weight: 400;
}

. btn {
    &.btn-primary {
        border-color: $primary_color;
        &.btn-border-2 {
            @extend .btn-border-width-2px;
        }
    }
    &.btn-primary-transparent {
        background-color: transparent;
        color: $primary_color;
        &:hover, &:focus {
            background-color: $primary_color;
            color: #000;
        }
    }
    /* Button White */
    &.btn-white {
        border-color: #fff;
        color: #000;
        background: #fff;
        &:hover, &:focus {
            background-color: transparent;
            color: #fff;
            border-color: #fff;
        }
    }
    &.btn-white-transparent {
        background-color: transparent;
        border-color: #fff;
        color: #fff;

        &:hover, &:focus {
            background: #fff;
            color: #000;
            border-color: #fff;
        }
    }

}

.btn:hover, button:hover, .button:hover, input[type="submit"]:hover, .btn:focus, button:focus, .button:focus, input[type="submit"]:focus {
    outline: medium none;
    text-decoration: none;
}

/* Custom VC Button */

@include breakpoint-max(768px) {
    .btn-parallax-scrolling .btn {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

/* ==========================================================================
    End Style Button
========================================================================== */
