$primary_color:#e54e5d;
$secondary_color:#cd3342;
$tertiary_color:#f5f8fa;
$link_color:#707070;
$link_color_hover:#e54e5d;
$header_height:80px;
$main_logo_height:60px;
$menu_sticky_height:100px;
$sticky_logo_height:80px;
$menu_color_first_level:#ffffff;
body.admin-bar #tb-header.tb-header-1 { margin-top: calc(0 + 32px );}#tb-header-logo a { line-height: $header_height; }#tb-header-logo a img { max-height: $main_logo_height; }#tb-header { background-color:0,0,0; }body.fixed-margin-top {  margin-top: $menu_sticky_height; }#tb-header.tb-main-header.header-fixed { background-color:0,0,0; }#tb-header.header-fixed #tb-header-logo a img { max-height: $sticky_logo_height; }#tb-header.header-fixed #tb-header-logo a,
			#tb-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li { line-height: $menu_sticky_height; }@media(min-width: 992px) {#tb-header-navigation .main-navigation .menu-main-menu > li > a,
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li > a {
					color:#ffffff;
					//line-height: $header_height;
				}#tb-header-navigation .main-navigation .menu-main-menu > li.menu-item-has-children > .tb-menu-toggle {
				color:#ffffff;
				}#tb-header-navigation .main-navigation .menu-main-menu > li, 
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li {
					//line-height: $header_height;
				}#tb-header-navigation .main-navigation .menu-main-menu > li > a:hover,
				#tb-header-navigation .main-navigation .menu-main-menu >ul > li > a:hover {
					color:#ffffff;
				}#tb-header-navigation .main-navigation .menu-main-menu > li.current-menu-item > a,
				#tb-header-navigation .main-navigation .menu-main-menu > li.current-menu-ancestor > a,
				#tb-header-navigation .main-navigation .menu-main-menu > li.current_page_item > a,
				#tb-header-navigation .main-navigation .menu-main-menu > li.current_page_ancestor > a,
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li.current-menu-item > a,
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li.current-menu-ancestor > a,
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li.current_page_item > a,
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li.current_page_ancestor > a {
					color:#ffffff;
				}#tb-header-navigation .main-navigation .menu-main-menu > li > a,
				#tb-header-navigation .main-navigation .menu-main-menu > ul > li > a {
					text-transform: uppercase;
				}}#tb-header.tb-main-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li > a {
				color:#ffffff;
			}#tb-header.tb-main-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li > a:hover {
				color:#ffffff;
			}#tb-header.tb-main-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li.current-menu-item > a,
			#tb-header.tb-main-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li.current-menu-ancestor > a,
			#tb-header.tb-main-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li.current_page_item > a,
			#tb-header.tb-main-header.header-fixed #tb-header-navigation .main-navigation .menu-main-menu > li.current_page_ancestor > a {
				color:#ffffff;
			}#tb-header-navigation .main-navigation .menu-main-menu > li ul li > a,
			#tb-header-navigation .main-navigation .menu-main-menu > ul > li ul li .tb-menu-toggle {
				color:#909090;
			}#tb-header-navigation .main-navigation .menu-main-menu > li ul li:hover > a,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul li:hover .tb-menu-toggle,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul a:focus,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-item > a,
			#tb-header-navigation .main-navigation .menu-main-menu > ul > li ul li:hover a,
			#tb-header-navigation .main-navigation .menu-main-menu > ul > li ul a:focus,
			#tb-header-navigation .main-navigation .menu-main-menu > ul > li ul li.current-menu-item > a,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-parent > a,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-parent > .tb-menu-toggle,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-ancestor > a,
			#tb-header-navigation .main-navigation .menu-main-menu > li ul li.current-menu-ancestor > .tb-menu-toggle {
				color:#e54e5d;
			}#tb-footer-top .wg-title:before {
				background-color:#ffffff;
			}.vc_general.vc_btn3.btn , button.vc_general.vc_btn3, a.vc_general.vc_btn3, .btn, .button, input[type='submit'] {
                    color:#000000;
                    background-color:transparent;
                    @include border-radius(0);
                }.vc_general.vc_btn3.btn:hover, button.vc_general.vc_btn3:hover, a.vc_general.vc_btn3:hover, .btn:hover, .button:hover, input[type='submit']:hover,.vc_general.vc_btn3.btn:focus, button.vc_general.vc_btn3:focus, a.vc_general.vc_btn3:focus, .btn:focus, .button:focus, input[type='submit']:focus {
                    color:#ffffff;
                    background-color:#e54e5d;
                }.vc_general.vc_btn3.btn.btn-primary, .btn.btn-primary {
                    color:#ffffff;
                    background-color:#fcc403;
					@include border-radius(0);
                }.vc_general.vc_btn3.btn.btn-primary:hover, .btn.btn-primary:hover,
			.vc_general.vc_btn3.btn.btn-primary:focus, .btn.btn-primary:focus {
				color:#fcc403;
				background-color:transparent;
			}.btn , button, .button, a.vc_general.vc_btn3, input[type='submit'] {
				text-transform: uppercase;
			}